{% extends "layout.html" %}
{% load static %}

{% block page_title %}All Challenges{% endblock  %}
{% block css_files %}
    <link rel="stylesheet", href="{% static "challenges/challenges.css" %}">
    <link rel="stylesheet", href="{% static "challenges/partials/header.css" %}">

{% endblock  %}
{% block content %}
    {% include "challenges/partials/header.html" %}
    <ul>
        {% for month in months%}
            {% comment %} <li><a href="/challenges/{{month}}">{{month|title}}</a></li> {% endcomment %}
            <li><a href="{% url "month_challenge" month %}">{{month|title}}</a></li>
        {% endfor %}
    </ul>
{% endblock  %}
